.primary-form input {
    flex-basis: unset!important;
    width: 100%!important;
    height: 45px!important;
    font-size: 1rem!important;
    border: none!important;
    outline: none!important;
    border-radius: var(--b-r)!important;
    background: var(--border-color)!important;
    margin-bottom: 20px!important;
    padding: var(--sz-2)!important;
}

.primary-form textarea {
    margin: 0!important;
    background: var(--border-color);
    color: var(--primary-grey)!important;
    border-radius: var(--b-r)!important;
    padding: var(--sz-2);
}

.primary-form textarea:focus {
    background: var(--theme-base-color)!important;
}

.primary-form input:focus, .primary-form textarea.focus:focus {
    box-shadow: none!important;
    border: 2px solid var(--primary-color)!important;
    background: var(--theme-base-color)!important;
}

.primary-form input:-webkit-autofill,
.primary-form input:-webkit-autofill:hover, 
.primary-form input:-webkit-autofill:focus, 
.primary-form input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--tertiary-grey) inset!important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--primary-grey) !important;
}

.primary-form button {
    border-radius: var(--b-r)!important;
    height: 45px;
}

/* ADD INTERESTS */

.interests-description {
    padding: var(--sz-2);
    background: var(--secondary-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--b-r);
    color: var(--primary-grey);
    font-size: 15px; 
}