{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Entrar / Napker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="form_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form action="{% url 'login' %}" class="form_horizontal" method="POST">{% csrf_token %}
                        <div class="form_icon">
                            <img src="{% static 'img/favicon.ico' %}">
                        </div>
                        <div class="title">Entrar no Napker</div>
                        {% if message %}
                        <span style="color: #f00;">{{ message }}</span>
                        {% endif %}
                        <div class="form-group">
                            <span class="input-icon"><i class="fas fa-user"></i></span>
                            <input class="form-control" type="text" name="username" placeholder="Nome de usuário">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fas fa-lock"></i></span>
                            <input class="form-control" type="password" name="password" placeholder="Senha">
                        </div>

                        <button class="btn signin" type="submit">Entrar</button>

                        <ul class="form-options">
                            <li><a href="#">Esqueceu sua senha?</a></li>
                            <li><a href="{% url 'signup' %}">Criar conta</a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>