{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Recuperar senha / Napker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="form_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form action="{% url 'reset_password' %}" class="form_horizontal" method="POST">{% csrf_token %}
                        <div class="form_icon">
                            <img src="{% static 'media/favicon.png' %}">
                        </div>
                        <h2>Esqueceu a sua senha?</h2>
                        <p>Por favor confirme o email ligado a sua conta.</p>
                        {% if message %}
                        <span style="color: #f00;">{{ message }}</span>
                        {% endif %}
                        <div class="form-group">
                            <span class="input-icon"><i class="fas fa-envelope"></i></span>
                            <input class="form-control" type="email" name="email" placeholder="Email">
                        </div>

                        <button class="btn signin" type="submit">Enviar</button>

                        <ul class="form-options">
                            <li><a href="javascript:history.back()">Voltar</a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>