.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    position: sticky;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    box-sizing: border-box;
    background: var(--fixed-components-background);
}

.sidebar h6 {
    font-size: 16px;
}

.sidebar .sidebar-menu-item {
    width: fit-content;
    color: var(--primary-grey);
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 30px;
}

.sidebar .logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: var(--header-heigth);
    margin-left: 10px;
}

.sidebar ul .sidebar-menu-item .sidebar-menu-icon {
    font-size: 1.25rem!important;
    margin-right: 10px;
}

.sidebar ul .sidebar-menu-item .fas {
    width: 25px;
}

.sidebar ul a:hover > .sidebar-menu-item {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.sidebar a.active .sidebar-menu-item{
    color: var(--primary-color)!important;
}


/* THEME SWITCHER */

.sidebar .checkbox {
	opacity: 0;
	position: absolute;
}

.sidebar .label {
	background-color: var(--primary-grey);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
    width: 50px;
}

.sidebar .label .ball {
	background-color: var(--theme-base-color);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.sidebar .checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.sidebar .fa-moon {
	color: var(--theme-base-color);
}

.sidebar .fa-sun {
	color: var(--background);
}