.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: var(--sidebar-width);
    box-sizing: border-box;
}

.sidebar h6 {
    font-size: 16px;
}

.sidebar .sidebar-menu-item {
    width: fit-content;
    color: var(--primary-grey);
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.sidebar .logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: var(--header-heigth);
    margin-left: 10px;
}

.sidebar ul .sidebar-menu-item .fas {
    width: 25px;
}

.sidebar ul a:hover > .sidebar-menu-item {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.sidebar a.active .sidebar-menu-item{
    color: var(--primary-color)!important;
}
