.b-bottom {
    border-bottom: 3px solid var(--border-color)!important;
}

.b-top {
    border-top: 3px solid var(--border-color)!important;
}

.b-left {
    border-left: 3px solid var(--border-color)!important;
}

.b-right {
    border-right: 3px solid var(--border-color)!important;
}

/* BORDER RADIUS */

.b-bottom-radius {
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.b-top-radius {
    border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
}
<<<<<<< HEAD

.b-t-r-r { border-top-right-radius: 20px!important; }
.b-t-l-r { border-top-left-radius: 20px!important; }
.b-b-r-r { border-bottom-right-radius: 20px!important; }
.b-b-l-r { border-bottom-left-radius: 20px!important; }

.b-bottom-right-radius-hover:hover {
    border-bottom-right-radius: 20px!important;
}

.b-bottom-left-radius-hover:hover {
    border-bottom-left-radius: 20px!important;
}
=======
>>>>>>> 17188f8512510637ff7bb9c029fb76584faa1c2c
