.box-med {
    padding: var(--sz-1);
    margin-bottom: 10px;
    border-radius: var(--b-r);
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
}

.box-sm {
    padding: var(--sz-1);
    margin-bottom: .5vw;
    border-radius: var(--b-r);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.box-shadow {
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
}

.border-box {
    box-sizing: border-box!important;
}