.c-primary-color {
    color: var(--primary-color)!important;
}

.c-secondary-color {
    color: var(--secondary-color)!important;
}

.c-primary-grey {
    color: var(--primary-grey)!important;
}

.c-secondary-grey {
    color: var(--secondary-grey)!important;
}

.c-tertiary-grey {
    color: var(--tertiary-grey)!important;
}

.c-theme-base-color {
    color: var(--theme-base-color)!important;
}

.c-background {
    color: var(--background)!important;
}

.bg-none {
    background: none!important;
}

.b-primary-color {
    background-color: var(--primary-color)!important;
}

.b-secondary-color {
    background-color: var(--secondary-color)!important;
}

.b-primary-grey {
    background-color: var(--primary-grey)!important;
}

.b-secondary-grey {
    background-color: var(--secondary-grey)!important;
}

.b-tertiary-grey {
    background-color: var(--tertiary-grey)!important;
}

.b-theme-base-color {
    background-color: var(--theme-base-color)!important;
}

.b-background {
    background: var(--background)!important;
}