.c-primary-color {
    color: var(--primary-color)!important;
}

.c-secondary-color {
    color: var(--secondary-color)!important;
}

.c-primary-grey {
    color: var(--primary-grey)!important;
}

.c-secondary-grey {
    color: var(--secondary-grey)!important;
}

.c-tertiary-grey {
    color: var(--tertiary-grey)!important;
}

.c-theme-base-color {
    color: var(--theme-base-color)!important;
}

.c-background {
    color: var(--background)!important;
}

.bg-none {
    background: none!important;
}

.b-primary-color {
    background-color: var(--primary-color)!important;
}

.b-secondary-color {
    background-color: var(--secondary-color)!important;
}

.b-primary-grey {
    background-color: var(--primary-grey)!important;
}

.b-secondary-grey {
    background-color: var(--secondary-grey)!important;
}

.b-tertiary-grey {
    background-color: var(--tertiary-grey)!important;
}

.b-theme-base-color {
    background-color: var(--theme-base-color)!important;
}

.b-background {
    background: var(--background)!important;
}

.c-p-c-0 { color: var(--primary-color-0); }
.c-p-c-1 { color: var(--primary-color-1); }
.c-p-c-2 { color: var(--primary-color-2); }
.c-p-c-3 { color: var(--primary-color-3); }
.c-p-c-4 { color: var(--primary-color-4); }
.c-p-c-5 { color: var(--primary-color-5); }
.c-p-c-6 { color: var(--primary-color-6); }
.c-p-c-7 { color: var(--primary-color-7); }

.b-p-c-0 { background: var(--primary-color-0); }
.b-p-c-1 { background: var(--primary-color-1); }
.b-p-c-2 { background: var(--primary-color-2); }
.b-p-c-3 { background: var(--primary-color-3); }
.b-p-c-4 { background: var(--primary-color-4); }
.b-p-c-5 { background: var(--primary-color-5); }
.b-p-c-6 { background: var(--primary-color-6); }
.b-p-c-7 { background: var(--primary-color-7); }