/* Font Styles */

.fw-300 { font-weight: 300 }
.fw-400 { font-weight: 400 }
.fw-500 { font-weight: 500 }
.fw-600 { font-weight: 600 }
.fw-700 { font-weight: 700 }

.fs-09 { font-size:  9px; }
.fs-11 { font-size: 11px; }
.fs-13 { font-size: 13px; }
.fs-15 { font-size: 15px; }
.fs-17 { font-size: 17px; }
.fs-19 { font-size: 19px; }
.fs-21 { font-size: 21px; }
.fs-23 { font-size: 23px; }
.fs-25 { font-size: 25px; }
.fs-27 { font-size: 27px; }

.fa-s { text-align: start; }
.fa-c { text-align: center; }
.fa-l { text-align: left; }