.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.text-secondary {
  color: var(--secondary-grey)!important;
}

.word-break {
  text-align: start;
  word-wrap: break-word;
  word-break: break-all;
}

.notification-text-container {
  display: inline-block;
  position: relative;
  bottom: 10px;
  min-width: 17px;
  height: 17px;
  border-radius: 50%;
}

.notification-text-container .notification-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff!important;
  background-color: #f00!important;
  font-size: 0.75rem!important;
  border-radius: 50%;
  padding: 2px;
}

.sticky {
  position: sticky!important;
  top: 0!important;
}

.fixed {
  position: fixed!important;
  top: 0!important;
}

.m-vw-t { margin-top: 1vw; }
.m-vw-b { margin-bottom: 1vw; }
.m-vw-l { margin-left: 1vw; }
.m-vw-r { margin-right: 1vw; }
.m-vw { margin: 1vw; }
.m-vw-x { margin-left: 1vw; margin-right: 1vw; }
.m-vw-y { margin-top: 1vw; margin-bottom: 1vw; }

.p-10px { padding: 10px; }