.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.text-secondary {
  color: var(--secondary-grey)!important;
}

.word-break {
  text-align: start;
  word-wrap: break-word;
  word-break: break-all;
}

.notification-text-container {
  display: inline-block;
  position: relative;
  bottom: 10px;
  min-width: 17px;
  height: 17px;
  border-radius: 50%;
}

.notification-text-container .notification-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff!important;
  background-color: #f00!important;
  font-size: 0.75rem!important;
  border-radius: 50%;
  padding: 2px;
}

.sticky {
  position: sticky!important;
  top: 0!important;
}

.fixed {
  position: fixed!important;
  top: 0!important;
}

.m-vw-t { margin-top: 1vw; }
.m-vw-b { margin-bottom: 1vw; }
.m-vw-l { margin-left: 1vw; }
.m-vw-r { margin-right: 1vw; }
.m-vw { margin: 1vw; }
.m-vw-x { margin-left: 1vw; margin-right: 1vw; }
.m-vw-y { margin-top: 1vw; margin-bottom: 1vw; }

.p-10px  { padding: 10px; }
.pt-10px { padding-top: 10px; }
.pr-10px { padding-right: 10px; }
.pb-10px { padding-bottom: 10px; }
.pl-10px { padding-left: 10px; }
.px-10px { padding-left: 10px; padding-right: 10px; }
.py-10px { padding-top: 10px; padding-bottom: 10px; }

.m-10px  { margin: 10px; }
.mt-10px { margin-top: 10px; }
.mr-10px { margin-right: 10px; }
.mb-10px { margin-bottom: 10px; }
.ml-10px { margin-left: 10px; }
.mx-10px { margin-left: 10px; margin-right: 10px; }
.my-10px { margin-top: 10px; margin-bottom: 10px; }

.p-20px  { 
  padding:        20px; 
}
.pt-20px { 
  padding-top:    20px; 
}
.pr-20px { 
  padding-right:  20px; 
}
.pb-20px { 
  padding-bottom: 20px; 
}
.pl-20px { 
  padding-left:   20px; 
}
.px-20px {
  padding-left:   20px;
  padding-right:  20px;
}
.py-20px { 
  padding-top:    20px; 
  padding-bottom: 20px; 
}

.m-20px  { 
  margin:         20px; 
}
.mt-20px { 
  margin-top:     20px; 
}
.mr-20px { 
  margin-right:   20px; 
}
.mb-20px { 
  margin-bottom:  20px; 
}
.ml-20px { 
  margin-left:    20px; 
}
.mx-20px { 
  margin-left:    20px; 
  margin-right:   20px; 
}
.my-20px { 
  margin-top:     20px; 
  margin-bottom:  20px; 
}

 .p-30px  { 
  padding:        30px; 
}
.pt-30px { 
  padding-top:    30px; 
}
.pr-30px { 
  padding-right:  30px; 
}
.pb-30px { 
  padding-bottom: 30px; 
}
.pl-30px { 
  padding-left:   30px; 
}
.px-30px {
  padding-left:   30px;
  padding-right:  30px;
}
.py-30px { 
  padding-top:    30px; 
  padding-bottom: 30px; 
}

 .m-30px  { 
  margin:         30px; 
}
.mt-30px { 
  margin-top:     30px; 
}
.mr-30px { 
  margin-right:   30px; 
}
.mb-30px { 
  margin-bottom:  30px; 
}
.ml-30px { 
  margin-left:    30px; 
}
.mx-30px { 
  margin-left:    30px; 
  margin-right:   30px; 
}
.my-30px { 
  margin-top:     30px; 
  margin-bottom:  30px; 
}

.p-vw-t { padding-top: 1vw; }
.p-vw-b { padding-bottom: 1vw; }
.p-vw-l { padding-left: 1vw; }
.p-vw-r { padding-right: 1vw; }
.p-vw { padding: 1vw; }
.p-vw-x { padding-left: 1vw; padding-right: 1vw; }
.p-vw-y { padding-top: 1vw; padding-bottom: 1vw; }