.p-5px  { 
  padding: var(--sz-0)!important; 
}
.pt-5px { 
  padding-top: var(--sz-0)!important; 
}
.pr-5px { 
  padding-right: var(--sz-0)!important; 
}
.pb-5px { 
  padding-bottom: var(--sz-0)!important; 
}
.pl-5px { 
  padding-left: var(--sz-0)!important; 
}
.px-5px {
  padding-left: var(--sz-0)!important;
  padding-right: var(--sz-0)!important;
}
.py-5px { 
  padding-top: var(--sz-0)!important; 
  padding-bottom: var(--sz-0)!important; 
}

.p-10px  { padding: var(--sz-1)!important; }
.pt-10px { padding-top: var(--sz-1)!important; }
.pr-10px { padding-right: var(--sz-1)!important; }
.pb-10px { padding-bottom: var(--sz-1)!important; }
.pl-10px { padding-left: var(--sz-1)!important; }
.px-10px { padding-left: var(--sz-1)!important; padding-right: var(--sz-1)!important; }
.py-10px { padding-top: var(--sz-1)!important; }

.p-20px  { 
  padding: var(--sz-2)!important; 
}
.pt-20px { 
  padding-top:    var(--sz-2)!important; 
}
.pr-20px { 
  padding-right:  var(--sz-2)!important; 
}
.pb-20px { 
  padding-bottom: var(--sz-2)!important; 
}
.pl-20px { 
  padding-left:   var(--sz-2)!important; 
}
.px-20px {
  padding-left:   var(--sz-2)!important;
  padding-right:  var(--sz-2)!important;
}
.py-20px { 
  padding-top:    var(--sz-2)!important; 
  padding-bottom: var(--sz-2)!important; 
}

.p-30px  { 
  padding: var(--sz-3)!important; 
}
.pt-30px { 
  padding-top:    var(--sz-3)!important; 
}
.pr-30px { 
  padding-right:  var(--sz-3)!important; 
}
.pb-30px { 
  padding-bottom: var(--sz-3)!important; 
}
.pl-30px { 
  padding-left:   var(--sz-3)!important; 
}
.px-30px {
  padding-left:   var(--sz-3)!important;
  padding-right:  var(--sz-3)!important;
}
.py-30px { 
  padding-top:    var(--sz-3)!important; 
  padding-bottom: var(--sz-3)!important; 
}

.p-vw-t { padding-top: 1vw!important; }
.p-vw-b { padding-bottom: 1vw!important; }
.p-vw-l { padding-left: 1vw!important; }
.p-vw-r { padding-right: 1vw!important; }
.p-vw { padding: 1vw!important; }
.p-vw-x { padding-left: 1vw!important; padding-right: 1vw!important; }
.p-vw-y { padding-top: 1vw!important; padding-bottom: 1vw!important; }

.pb-mobile {
  padding-bottom: var(--bottom-menu-height)!important;
}