.p-10px  { padding: 10px; }
.pt-10px { padding-top: 10px; }
.pr-10px { padding-right: 10px; }
.pb-10px { padding-bottom: 10px; }
.pl-10px { padding-left: 10px; }
.px-10px { padding-left: 10px; padding-right: 10px; }
.py-10px { padding-top: 10px; padding-bottom: 10px; }

.p-20px  { 
  padding:        20px; 
}
.pt-20px { 
  padding-top:    20px; 
}
.pr-20px { 
  padding-right:  20px; 
}
.pb-20px { 
  padding-bottom: 20px; 
}
.pl-20px { 
  padding-left:   20px; 
}
.px-20px {
  padding-left:   20px;
  padding-right:  20px;
}
.py-20px { 
  padding-top:    20px; 
  padding-bottom: 20px; 
}

.p-30px  { 
  padding:        30px; 
}
.pt-30px { 
  padding-top:    30px; 
}
.pr-30px { 
  padding-right:  30px; 
}
.pb-30px { 
  padding-bottom: 30px; 
}
.pl-30px { 
  padding-left:   30px; 
}
.px-30px {
  padding-left:   30px;
  padding-right:  30px;
}
.py-30px { 
  padding-top:    30px; 
  padding-bottom: 30px; 
}

.p-vw-t { padding-top: 1vw; }
.p-vw-b { padding-bottom: 1vw; }
.p-vw-l { padding-left: 1vw; }
.p-vw-r { padding-right: 1vw; }
.p-vw { padding: 1vw; }
.p-vw-x { padding-left: 1vw; padding-right: 1vw; }
.p-vw-y { padding-top: 1vw; padding-bottom: 1vw; }