:root {
    --primary-color: #48d1cc;
    --secondary-color: #EBFFFE;
    --primary-color-hover: #00A69F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }