@media (max-width: 1165px) {
    .sidebar ul li {
        margin: 0;
    }
}

@media (max-width: 1130px) {
    .home-menu-btn-container .btn {
        font-size: .83rem;
    }
}

@media (max-width: 980px) {
    .wrapper .main-content .header {
        position: fixed!important;
        top: 0!important;
        left: 0!important;
    }
    .wrapper .main-content .home-page {
        padding-top: var(--home-page-menu-height);
    }
    .wrapper .sidebar, .wrapper .main-content .feed-create-post-form, .smile {
        display: none;
    }
    .wrapper .main-content .bottom-menu, .bottom-menu-action-icon {
        display: initial!important;
    }
    .wrapper .main-content .sidebar-content, .wrapper .main-content .content {
        width: 100vw!important;
        height: 100vh!important;
        padding-top: var(--header-heigth);
    }
    .post-list, .profile-list-container, .interest-list-container, .interest-profile-list,
    .interests-page-container, .settings-page-container, .settings-description-container, .notifications-container {
        padding-bottom: 10vh;
    }
    .list-group-item {
        padding: 1rem 3rem;
    }
    .bottom-menu ul li:hover {
        background: initial;
    }
    .profile-list-container .profile-row:hover {
        background: initial;
    }
    .profile-page-menu .profile-page-menu-item-active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color)!important;
    }
    .post-container:hover {
        background: initial;
    }
    .post-actions .fa-comment:hover, .post-actions .fa-heart:hover {
        background: initial;
    }
    .post-actions .far:hover {
        color: var(--text-secondary);
    }
    .profile-page-menu .profile-page-menu-item:hover {
        background: initial;
    }
    .profile-data-container {
        margin-top: 70px;
    }
    .profile-data-container .friend-btn:hover {
        background: #0b80d0!important;
    }
    .home-menu-btn-container .btn {
        font-size: 1rem;
    }
    .settings-page-theme-switcher, .header-view-more-icon {
        display: flex!important;
    }
}

@media (max-width: 880px) {
    .home-menu-btn-container .btn {
        font-size: .86rem;
    }
    .notification-authors-container {
        flex-direction: column;
    }
}

@media (max-width: 790px) {
    .home-menu-btn-container .btn {
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    .interest-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 720px) {
    .list-group-item {
        padding: 1rem 2rem;
    }
    .messages-wrapper .chats-list {
        width: 100%;
        border: none;
    }
    .no-chat-selected, .messages-wrapper .loader-container {
        display: none!important;
    }
    .current-chat {
        width: 100vw!important;
        position: absolute;
    }
    .current-chat .current-chat-header {
        position: sticky;
        top: var(--header-heigth);
    }
    .current-chat .current-chat-header .left-arrow-icon {
        display: unset!important;
    }
    .current-chat .send-message-container {
        position: fixed;
        bottom: 0;
        height: 8vh;
        background: var(--theme-base-color);
        padding: 10px;
    }
    .messages-wrapper .current-chat-header .left-arrow-icon {
        display: unset;
    }
}

@media (max-width: 635px) {
    .post-author-data-wrapper {
        flex-direction: column;
    }
    .profile-list-item-bio-button-wrapper {
        width: fit-content;
        flex-direction: column;
    }
    .mobile-d-none {
        display: none!important;
    }
    .settings-page-menu {
        width: 100%!important;
    }
    .settings-description-container {
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}


@media (max-width: 500px) {
    .post-list .post-container .post-row .post-col .post-author-data-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .profile-data-container {
        align-items: flex-start;
    }
    .profile-data-container .myprofile-btn-wrapper, .profile-data-container .profile-btn-wrapper {
        padding-top: 5%;
    }
    .profile-data-container .profile-view-more-select {
        top: 25%;
        right: 10%;
    }
    .interests-page-container h3 {
        font-size: 1.5rem;
    }
    .feedback-form .option-container {
        margin: 0;
    }
}

@media (max-width:450px) {
    .edit-profile-input {
        flex-direction: column;
    }
    .edit-profile-input .profile-field-label {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .list-group-item {
        padding: .75rem 1.25rem;
    }
    .btn {
        font-size: .8rem;
        padding: .3rem .4rem;
    }
    .chat-message-submit {
        padding: .375rem .75rem;
    }
    .interests-page-container h3 {
        font-size: 1.4rem;
    }
}

@media (max-width:340px) {
    .interests-page-container h3 {
        font-size: 1.3rem;
    }
}

@media (max-width:330px) {
    .interests-page-container h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .profile-data-container {
        padding: 3% 7.4%;
    }
    .profile-photo-input {
        font-size: .75rem;
    }
}