:root {
  --secondary-color: rgba(119, 147, 125, .1);
  --b-r:  10px;
  --sz-0:  5px;
  --sz-1: 10px;
  --sz-2: 20px;
  --sz-3: 30px;
  --sz-4: 40px;
  --sz-5: 50px;

  --content-height: 94vh;
  --ls-width: 275px;
  --rs-width: 275px;
  --header-heigth: 50px;
  --home-page-menu-height: 34px;
  --bottom-menu-height: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: .1s;
  -webkit-font-smoothing: antialiased
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--primary-grey);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.btn, input {
  overflow: hidden;
}

h3 {
  font-weight: bold;
  color: var(--primary-grey);
}

h6 {
  font-weight: 500;
  color: var(--primary-grey);
  opacity: 0.9;
}

a {
  font-weight: 400;
  color:  var(--primary-color);
}


/* DOCUMENT MAIN STRUCTURE */

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper .ls-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;  
  position: relative;
  height: 100%;
}

.wrapper .ls-wrapper .ls-container{
  width: var(--ls-width);
  position: relative;
} 

.wrapper .mc-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  height: 100%;
}

.wrapper .mc-wrapper .main-content {
  display: flex;
  flex-direction: row-reverse;
  width: 925px;
  height: 100%;
}

.wrapper .mc-wrapper .main-content .content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper .main-content .rs-container ~ .content-container {
  max-width: 650px;
}

.wrapper .mc-wrapper .main-content .rs-container {
  width: var(--rs-width);
  position: relative;
}

.wrapper .mc-wrapper .main-content .content-container .header {
  height: var(--header-heigth);
  position: sticky;
  top: 0;
  padding: var(--sz-2);
  color: var(--primary-grey);
  font-size: 1.2rem;
}

.wrapper .mc-wrapper .main-content .content-container .content {
  position: relative;
  text-align: center;
}

.wrapper .mc-wrapper .main-content .content-container .sidebar-content {
  position: relative;
  text-align: center;
}

/* PROFILE-IMAGE */

.profile-img-sm {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-img-med {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.profile-img-big {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.profile-img-sm:hover, .profile-img-med:hover {
  transform: scale(1.01);
}

/*
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
  background: #48d1cc; 
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #48d1cc; 
}
*/
