:root {
  --primary-color              :         rgba(0,192,136,  1);
  --p-c-0                      :         rgba(0,192,136,0.8 );
  --p-c-1                      :         rgba(0,192,136,0.6 );
  --p-c-2                      :         rgba(0,192,136,0.4 );
  --p-c-3                      :         rgba(0,192,136,0.20);
  --p-c-4                      :         rgba(0,192,136,0.16);
  --p-c-5                      :         rgba(0,192,136,0.12);
  --p-c-6                      :         rgba(0,192,136,0.08);
  --p-c-7                      :         rgba(0,192,136,0.04);
  --secondary-color            :     rgba(119, 147, 125, .1);
  --primary-color-hover        :                     #3FB597;
  --header-heigth: 9vh;
  --home-page-menu-height: 60px;
  --content-heigth: 91vh;
  --sidebar-width: 16vw;
  --sidebar-content-width: 43vw;
  --content-width: 59vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: .1s!important;
  -webkit-font-smoothing: antialiased
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--primary-grey);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

btn, input {
  overflow: hidden;
}

h3 {
  font-weight: bold;
  color: var(--primary-grey);
}

h6 {
  font-weight: 500;
  color: var(--primary-grey);
  opacity: 0.9;
}

a {
  font-weight: 400;
  color:  var(--primary-color);
}


/* DOCUMENT MAIN STRUCTURE */

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.wrapper .main-content {
  min-width: var(--sidebar-content-width);
  height: 100%;
}

.wrapper .main-content .header {
  height: 50px;
  position: sticky;
  top: 0;
  padding: 20px;
  color: var(--primary-grey);
  font-size: 1.2rem;
}

.wrapper .main-content .content {
  width: var(--content-width);
  position: relative;
  text-align: center;
  margin: 0 1vw;
}

.wrapper .main-content .sidebar-content {
  width: var(--sidebar-content-width);
  position: relative;
  text-align: center;
  margin: 0 1vw;
}

/* PROFILE-IMAGE */

.profile-img-sm {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-img-med {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.profile-img-big {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.profile-img-sm:hover, .profile-img-med:hover {
  transform: scale(1.01);
}

/*
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
  background: #48d1cc; 
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #48d1cc; 
}
*/
