.messages-wrapper {
    height: 89vh;
}

.modal-search-input {
    background: var(--border-color);
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.modal-profile-li:hover {
    background: #eee;
}

.messages-loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.messages-wrapper .chats-list {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 3px solid var(--border-color);
}

.messages-wrapper .chats-list .search-input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid var(--border-color);
}

.messages-wrapper .chats-list .search-input {
    width: 100%;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--border-color);
    text-align: start;
    padding: 15px;
}

.messages-wrapper .chats-list .chats-container {
    border-radius: 0;
}

.messages-wrapper .chats-list .chats-container .profile-chat-item {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.messages-wrapper .chats-list .chats-container .profile-chat-item:hover {
    background: var(--white-hover);
}

.chat-loader-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    background: #fff;
}

.messages-wrapper .current-chat {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.messages-wrapper .current-chat .current-chat-header {
    display: flex;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.messages-wrapper .current-chat #chat-log {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 15px;
}

.messages-wrapper .current-chat #chat-log .received {
    width: 100%;
    display: flex;
    justify-content: end;
}

.messages-wrapper .current-chat #chat-log .received p {
    background: #ccc;
    color: #000;
    max-width: 70%;
    padding: 15px;
    text-align: left;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.messages-wrapper .current-chat #chat-log .sent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
}

.messages-wrapper .current-chat #chat-log .sent p {
    background: var(--primary-color);
    color: #fff;
    max-width: 70%;
    padding: 15px;
    text-align: left;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.chat-emoji-list {
    left: 30%!important;
    top: 30%!important;
}

.messages-wrapper .current-chat .send-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--border-color);
    padding: 3px;
}

.messages-wrapper .current-chat .send-message-container .fa-smile {
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
}

.messages-wrapper .current-chat .send-message-container .fa-smile:hover, .emoji-button-active {
    background: var(--secondary-color);
    cursor: pointer;
}

.messages-wrapper .current-chat .send-message-container .message-input {
    width: 70%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--border-color);
    margin-right: 5px;
}

.messages-wrapper .chats-list .search-input:focus, .messages-wrapper .current-chat .send-message-container .message-input:focus {
    outline: none;
    background: #fff;
    border: 1px solid var(--primary-color);
}

.messages-wrapper .current-chat .send-message-container .chat-message-submit {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-wrapper .current-chat .send-message-container .chat-message-submit .fas {
    position: relative;
    right: 10%;
    font-size: large;
}