.primary-form input {
    flex-basis: unset!important;
    width: 100%!important;
    height: 45px;
    font-size: 1rem!important;
    border: none;
    outline: none;
    border-radius: 30px;
    background: var(--border-color);
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
}

.primary-form input:focus {
    box-shadow: none!important;
    border: 2px solid var(--primary-color);
    background: var(--theme-base-color);
}

.primary-form button {
    border-radius: 30px!important;
    height: 45px;
}