.no-notifications-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-container {
    width: 100%;
}

.notifications-container .friend-request-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
}

.notifications-container .friend-request-row .friend-request-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.notifications-container .notification-row {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
}

.notifications-container .notification-row .notification-like {
    font-size: 30px;
    color: #E0245E;
}

.notification-icon-container {
    padding-right: 10px;
    padding-left: 20px;
}

.notifications-container .notification-row .notification-comment {
    font-size: 30px;
    color: var(--primary-color);
}

.notifications-container .notification-row .notification-message {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-top: 5px;
    padding: 0 10px 0 78px;
    font-size: large;
    font-weight: bold;
}

.notifications-container .notification-row .notification-post-content {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    text-align: start;
    font-size: medium;
    word-wrap: break-word;
    word-break: break-all;
}

.notifications-container .notification-row .notification-comment-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px 0 78px;
}

.notification-comment-content {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-size: medium;
    word-wrap: break-word;
    word-break: break-all;
}

.notification-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.notification-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.notifications-loader-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.btn-see-post-container {
    margin-top: 5px;
    margin-left:auto;
    margin-right:0;
}

.btn-see-post {
    height:37px;
    width:100px;
}