.no-notifications-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-container {
    width: 100%;
}

.notifications-container .friend-request-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
}

.notifications-container .friend-request-row .friend-request-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.notifications-container .notification-row {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s;
}

.notifications-loader-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}