@keyframes hide {
    0% {
        opacity: 1;
        max-height: 800px;
    }
    75% {
        opacity: 0;
        max-height: 800px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

.posts-loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    padding: 5% 0;
}

.post-img {
    min-width: 130px;
    min-height: 70px;
    max-width: 600px;
    max-height: 400px;
    margin-top: 15px;
    border-radius: 20px;
}

.create-post-form {
    background: #fff;
    padding: 15px 15px 10px 15px;
    border-bottom: 15px solid #F7F9FA;
}

.create-post-form-mobile {
    background: #fff;
    padding: 15px 15px 10px 15px;
}

.post-content-textarea {
    color: #000;
    border: none;
    font-size: large;
    width: 100%;
    padding: 15px;
    border-color: white;
    box-shadow: white;

}

.post-content-textarea:focus {
    outline: none;
}

.post-img-container {
    width: fit-content;
    height: fit-content;
    display: none;
    position: relative;
    margin-top: 15px;
}

.post-img-container .post-form-img-preview {
    margin-top: 0!important;
}

.post-img-container .post-img-options {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    border-radius: 20px;
    padding: 3px;
}

.post-img-container .post-img-options .far {
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.post-img-container .post-img-options .far:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-extra-options {
    width: 20%;
    display: flex;
    position: relative;
}

.post-extra-options .far {
    color: var(--primary-color);
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
}

.post-extra-options .far:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

.post-extra-options .emoji-list-container {
    display: none;
    position: absolute;
    left: 60%;
    top: -100%;
    z-index: 1;
    border: 1px solid rgba(20, 20, 20, 0.2);
}

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post-list-item:hover {
    cursor: pointer;
}

.post-container {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    animation-name: hide;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.post-container:hover {
    background: var(--white-hover);
}

.post-row {
    width: 100%;
    padding: 15px;
    display: flex;
}

.post-row .post-col {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.post-row .post-col .post-author-data-wrapper {
    height: 30px;
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 0 2px 79px;
}

.post-actions .fas {
    color: #E0245E;
}

.post-actions .fa-comment, .post-actions .fa-heart {
    padding: 10px;
    border-radius: 50%;
}

.post-actions .fa-comment:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.post-actions .fa-heart:hover {
    background: #F5E2E8;
    color: #E0245E;
    cursor: pointer;
}

.post-actions .post-likes-number {
    display: inline-block;
}

.post-actions .post-likes-number:hover {
    color: #E0245E;
    text-decoration: underline;
    cursor: pointer;
}

/* POST PAGE */

.post-page-container {
    width: 100%;
}
textarea{  
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    margin: 10px;
    border-color: white;
    box-shadow: white;
    border: none;
    outline: none;


}
    
   