.profiles-filter-container {
    width: 100%;
    background: #fff;
    padding: 15px 60px 15px 60px;
    border-bottom: 1px solid var(--border-color);
}

.profiles-filter-container .profiles-filter-input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background: #e3e5e9;
}

.profiles-filter-input:focus {
    outline: none;
    background: #fff;
    border: 1px solid var(--primary-color);
}

.profile-list-container {
    width: 100%;
    background: #fff;
    overflow-y: hidden;
}

.filtered-profile:hover {
    background: var(--white-hover);
    cursor: pointer;
}

.profile-list-container .profile-row {
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.profile-list-container .profile-row:hover {
    background: var(--white-hover);
    cursor: pointer;
}

.profile-row img:hover, .profile-row strong:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.profile-row .profile-img-container {
    width: fit-content;
    align-self: center;
}

.profile-row .profile-row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-row .profile-row-bottom {
    display: flex;
    text-align: start;
}

.profile-row .profile-col {
    min-width: 20%;
    align-self: center;
    display: flex;
}

.profile-row .main-profile-data {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.profiles-loader-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background: #fff;
}