@import url('https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css');
.profile-page-loader-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background: #fff;
    padding-top: 60px;
}

.user-blocked-me-container {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff!important;
}

.profile-page-alert-success {
    width: 100%;
    margin: 0!important;
    text-align: center;
}

.profile-data-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1.5% 8.7%;
}

.profile-data-container .myprofile-btn-wrapper {
    display: flex;
    flex-direction: column;
}

.profile-data-container .profile-btn-wrapper {
    display: flex;
}

.profile-data-container .friend-btn:hover {
    background: #f00!important;
}

.profile-data-container .profile-view-more-select {
    top: 60%;
    right: 10%;
}

.view-more-icon-active {
    background: #f00!important;
}

.profile-view-more-select i {
    font-size: large;
    margin-right: 5px;
}

.bio-emoji-list {
    left: 60%!important;
    top: 22%!important;
}

.d-flex .profile-field-label {
    width: 20%;
}

.d-flex .profile-field-input {
    width: 80%!important;
    flex-basis: auto!important;
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
    border-radius: 5px!important;
    padding: 10px!important;
    color: #444!important;
    outline: none!important;
    margin: 0!important;
    margin-bottom: 4px!important;
}

.d-flex .email-input-container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-basis: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    color: #444;
    outline: none;
    margin: 0;
    margin-bottom: 4px;
}

.d-flex .email-input-container .profile-field-input-email {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
}

.d-flex .email-input-container .fa-smile {
    color: var(--primary-color);
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 0!important;
    border-radius: 50%;
}

.d-flex .email-input-container .fa-smile:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

.form-control {
    display: inline-block;
    margin-bottom: 5px;
    width: 80%;
}

#username-taken, #email-taken {
    display: none;
    color: #f00;
}

.profile-page-menu {
    width: 100%;
    background: #fff;
    color: #666;
    font-weight: bold;
    display: flex;
}

.profile-page-menu .profile-page-menu-item {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.profile-page-menu .profile-page-menu-item:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.profile-page-menu .profile-page-menu-item-active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* POSTS */

.no-posts-container {
    width: 100%;
    height: 200px;
    background: #fff;
    margin-top: 2px
}

/* INTERESTS */

.edit-interests-success-message {
    width: 100%;
    background: #fff;
    color: #0c0;
    display: none;
    margin: 0;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
}

.interests-page-container {
    background: #fff;
    padding: 30px;
    text-align: start;
}

.interest-item {
    width: 100%;
    min-height: 50px;
    padding: 0 30px 0 30px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag-container .tag {
    width: fit-content;
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag-container .tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

.tag-container input {
    padding: 5px;
    font-size: 16px;
    outline: none;
    color: #333;
    flex: 1;
}

.edit-interests-loader-container {
    width: 100%;
    height: 600px;
    background: #fff;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.interests-title-container {
    width: 100%;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
}

.interest-profile-list {
    width: 100%;
    min-height: 500px;
    background: #fff;
}

.interest-profile-row {
    border: none!important;
    border-bottom: 1px solid var(--border-color)!important;
}

/* FRIENDS */

.profile-friends-container {
    width: 100%;
    min-height: 680px;
    background: #fff;
}

.profile-friends-container .profile-friend-list-item {
    border: none;
    border-bottom: 1px solid var(--border-color);
}