@media (max-width: 1165px) {
    .sidebar ul li {
        margin: 0;
    }
}

@media (max-width: 980px) {
    .wrapper .sidebar {
        display: none;
    }
    .wrapper .main-content .content .create-post-form {
        display: none;
    }
    .wrapper .main-content .bottom-menu, .bottom-menu-action-icon {
        display: initial;
    }
    .wrapper .main-content {
        margin: 0;
    }
    .fa-smile {
        display: none;
    }
    .post-list, .profile-list-container, .comment-list, .interest-list-container, .interest-profile-list, .interests-page-container, .settings-page-container {
        padding-bottom: 60px;
    }
    .list-group-item {
        padding: 1rem 3rem;
    }
    .bottom-menu ul li:hover {
        background: initial;
    }
    .profile-list-container .profile-row:hover {
        background: initial;
    }
    .post-container:hover {
        background: initial;
    }
    .post-actions .fa-comment:hover, .post-actions .fa-heart:hover {
        background: initial;
    }
    .post-actions .far:hover {
        color: #6c757d;
    }
    .profile-page-menu .profile-page-menu-item:hover {
        background: initial;
    }
    .left-arrow-icon:hover, .add-icon:hover, .btn-secondary:hover {
        background: initial!important;
    }
    .profile-data-container .friend-btn:hover {
        background: #0b80d0!important;
    }
}

@media (max-width: 750px) {
    .interest-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 720px) {
    .post-img {
        max-width: 500px;
        max-height: 400px;
    }
    .list-group-item {
        padding: 1rem 2rem;
    }
    .mobile-messages-page {
        display: unset;
    }
    .default-messages-page {
        display: none;
    }
    .messages-wrapper .chats-list {
        width: 100%;
        border: none;
    }
    .no-chat-selected, .chat-loader-container {
        display: none;
    }
    .current-chat {
        width: 100vw;
        height: 100%;
        position: absolute;
        z-index: 1031;
    }
    .current-chat .send-message-container {
        padding: 10px;
    }
    .messages-wrapper .current-chat-header .left-arrow-icon {
        display: unset;
    }
}

@media (max-width: 635px) {
    .profile-list-item-bio-button-wrapper {
        width: fit-content;
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    .post-img {
        max-width: 450px;
        max-height: 400px;
    }
}

@media (max-width: 560px) {
    .wrapper .main-content .content .home-page-subheader {
        flex-direction: column;
    }
    .post-img {
        max-width: 430px;
        max-height: 400px;
    }
}

@media (max-width: 500px) {
    .post-list .post-container .post-row .post-col .post-author-data-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .post-img {
        max-width: 380px;
        max-height: 400px;
    }
    .profile-data-container {
        align-items: flex-start;
    }
    .profile-data-container .myprofile-btn-wrapper, .profile-data-container .profile-btn-wrapper {
        padding-top: 5%;
    }
    .profile-data-container .profile-view-more-select {
        top: 25%;
        right: 10%;
    }
    .interests-page-container h3 {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    .edit-profile-input {
        flex-direction: column;
    }
    .edit-profile-input .profile-field-label {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .post-img {
        max-width: 290px;
        max-height: 300px;
    }
}

@media (max-width: 375px) {
    .post-img {
        max-width: 240px;
        max-height: 300px;
    }
    .list-group-item {
        padding: .75rem 1.25rem;
    }
    .btn {
        font-size: .8rem;
        padding: .3rem .4rem;
    }
    .interests-page-container h3 {
        font-size: 1.4rem;
    }
}

@media (max-width:340px) {
    .interests-page-container h3 {
        font-size: 1.3rem;
    }
}

@media (max-width:330px) {
    .interests-page-container h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .post-img {
        max-width: 190px;
        max-height: 250px;
    }
    .profile-data-container {
        padding: 3% 7.4%;
    }
    .profile-photo-input {
        font-size: .75rem;
    }
}