.settings-page-container {
    width: 100%;
    height: 88vh;
    display: flex;
}

.settings-page-container .alert {
    width: 100%;
    margin: 0!important;
    text-align: center;
}

.settings-page-container input[type=password] {
    width: 60%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: var(--border-color);
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
}

.settings-page-container input[type=password]:focus {
    border: 1px solid var(--primary-color);
    background: #fff;
}

.settings-description-container .settings-loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    background: var(--body-background);
}

.settings-page-container .settings-page-menu {
    width: 40%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--border-color);
}

.settings-page-container .security-page-menu {
    width: 100%;
    height: unset!important;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings-page-container .settings-page-menu li, .settings-page-container .security-page-menu li {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: #333;
    padding: 10px 20px 10px 20px;
}

.settings-page-container .settings-page-menu .logout-btn {
    border-top: 1px solid var(--border-color);
}

.settings-page-container .settings-page-menu .active {
    background: var(--white-hover);
}

.settings-page-container .settings-page-menu li:hover {
    background: var(--white-hover);
    cursor: pointer;
}

.settings-description-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
}

/* BLOCK USER */

.settings-description-container .no-blocked-profiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-description-container .blocked-profiles-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.settings-description-container .blocked-profiles-list .blocked-profiles-title {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 15px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid var(--border-color);
}

.settings-description-container .blocked-profiles-list .blocked-profile {
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.settings-page-title-container {
    width: 100%;
    height: 20%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CHANGE PASSWORD */

.change-password-form {
    width: 100%;
    height: 60%;
    padding-top: 20px;
}

.change-password-form button {
    width: 60%;
}

/* DELETE ACCOUNT */

.delete-account-confirmation {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: #444;
}

.delete-account-confirmation button {
    margin-top: 20px;
}