.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 21.5vw;
    background: var(--fixed-components-background);
    border-right: 1px solid var(--border-color);
}

.sidebar ul li {
    width: fit-content;
    color: var(--primary-grey);
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 30px;
}

.sidebar ul li .sidebar-menu-icon {
    font-size: 1.25rem!important;
    margin-right: 10px;
}

.sidebar .logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: var(--header-heigth);
    margin-left: 10px;
}

.sidebar ul li .fas {
    width: 25px;
}

.sidebar h2:hover {
    cursor: pointer;
}

.sidebar ul li:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.nav-menu-item-active {
    color: var(--primary-color)!important;
}
