:root {
  --primary-color: #1DA1F2;
  --secondary-color: #e8f5fe;
  --primary-color-hover: #0b80d0;
  --white-hover: #eee;
  --border-color: #E6ECF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 16px;
}

body {
  background: #fff;
}

.wrapper {
  display: flex;
}

.notification-text-container {
  display: inline-block;
  position: relative;
  bottom: 10px;
  min-width: 15px;
  height: 18px;
  border-radius: 50%;
}

.notification-text-container .notification-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff!important;
  background-color: #f00!important;
  font-size: 0.75rem!important;
  border-radius: 50%;
  padding: 2px;
}

.wrapper .main-content {
  width: 100%;
  height: 100%;
  margin-left: 22.4%;
}

.wrapper .main-content .header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 20px 16% 20px 20px;
  background: #fff;
  color: #000;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--border-color);
}

.wrapper .main-content .header .logout {
  color: var(--primary-color);
  cursor: pointer;
}

.wrapper .main-content .content {
  position: relative;
  text-align: center;
}

.home-page-subheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid var(--border-color);
  background: #fff;
  font-size: 1.2rem;
  color: #333;
}

.loader {
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 0);
  border: 4px solid #D2ECFC;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

/* BUTTONS */

.btn-primary {
  background: var(--primary-color)!important;
  color: #fff!important;
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
  border-radius: 20px;
  font-weight: bold!important;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover)!important;
  color: #fff!important;
}

.btn-secondary {
  background: rgba(0, 0, 0, 0)!important;
  color: var(--primary-color)!important;
  border: 1px solid var(--primary-color)!important;
  border-radius: 20px!important;
  font-weight: bold!important;
}

.btn-secondary:hover {
  background: var(--secondary-color)!important;
}

.left-arrow-icon, .add-icon {
  padding: 10px;
  margin-right: 10px;
  color: var(--primary-color);
  border-radius: 50%;
  font-size: 1.25rem;
}

.left-arrow-icon:hover, .add-icon:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color-hover);
  cursor: pointer;
}

.trash-icon:hover {
  color: #f00!important;
  cursor: pointer;
}

.btn-grey {
  background: #eee;
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: bold;
}

.btn-grey:hover {
  background: var(--white-hover);
}

.btn-primary:focus, .btn-secondary:focus, .btn-grey:focus {
  outline: none;
  box-shadow: none;
}

/* PROFILE-IMAGE */

.profile-img-sm {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-img-med {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.profile-img-big {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.profile-img-sm:hover, .profile-img-med:hover {
  transform: scale(1.01);
}

/* GENERAL UTILS */

.emoji-list-container {
  display: none;
  position: absolute;
  left: 20px;
  z-index: 1;
  border: 2px solid rgba(20, 20, 20, 0.3);
}

.view-more-select {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: start;
  background: #fff;
}

.view-more-select li {
  padding: 15px;
}

.view-more-select li:hover {
  background: var(--white-hover);
  cursor: pointer;
}

@media (max-width: 1165px) {
  .sidebar ul li {
    margin: 0;
  }
}

@media (max-width: 980px) {
  input, select, textarea {
    font-size: 16px;
  }
  .wrapper .sidebar {
    display: none;
  }
  .wrapper .main-content .content .create-post-form {
    display: none;
  }
  .wrapper .main-content .bottom-menu, .bottom-menu-action-icon {
    display: initial;
  }
  .wrapper .main-content {
    margin: 0;
  }
  .list-group-item {
    padding: 1rem 3rem;
  }
  .profile-list-container .profile-row:hover {
    background: initial;
  }
  .post-container:hover {
    background: initial;
  }
  .post-container .post-actions .fa-comment:hover {
    background: initial;
  }
  .post-container .post-actions .fa-heart:hover {
    background: initial;
  }
}

@media (max-width: 720px) {
  .post-img {
    max-width: 500px;
    max-height: 400px;
  }
  .list-group-item {
    padding: 1rem 2rem;
  }
}

@media (max-width: 635px) {
  .profile-list-item-bio-button-wrapper {
    width: fit-content;
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .post-img {
    max-width: 450px;
    max-height: 400px;
  }
}

@media (max-width: 560px) {
  .wrapper .main-content .content .home-page-subheader {
    flex-direction: column;
  }
  .post-img {
    max-width: 430px;
    max-height: 400px;
  }
}

@media (max-width: 500px) {
  .post-list .post-container .post-row .post-col .post-author-data-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .post-img {
    max-width: 380px;
    max-height: 400px;
  }
}

@media (max-width: 425px) {
  .post-img {
    max-width: 290px;
    max-height: 300px;
  }
}

@media (max-width: 375px) {
  .post-img {
    max-width: 240px;
    max-height: 300px;
  }
  .list-group-item {
    padding: 0.75rem 1.25rem;
  }
}

@media (max-width: 320px) {
  .post-img {
    max-width: 190px;
    max-height: 250px;
  }
}