:root {
  --primary-color: #1DA1F2;
  --secondary-color: #E8F5FE;
  --primary-color-hover: #0b80d0;
  --body-background: #f3f5f9;
  --white-hover: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: var(--body-background);
}

.wrapper {
  display: flex;
}

.wrapper .sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 30px 0;
}

.wrapper .sidebar h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  color: #000;
  font-weight: bold;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  padding: 15px;
  border-radius: 20px;
}

.notifications-number {
  display: inline-block;
  position: relative;
  bottom: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  background-color: red;
  min-width: 15px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
}

.wrapper .sidebar ul li .fas {
  width: 25px;
}

.wrapper .sidebar h2:hover {
  cursor: pointer;
}

.wrapper .sidebar ul li:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.wrapper .main-content {
  width: 100%;
  height: 100%;
  margin-left: 300px;
}

.wrapper .main-content .header {
  position: sticky;
  top: 0;
  padding: 20px;
  background: #fff;
  color: #000;
  font-size: large;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main-content .header .logout {
  position: absolute;
  left: 80%;
  color: var(--primary-color);
  cursor: pointer;
}

.wrapper .main-content .content {
  position: relative;
  padding: 20px;
  text-align: center;
  border-left: 1px solid #e0e4e8;
}

/* BUTTONS */

.btn-primary {
  background: var(--primary-color)!important;
  color: #fff!important;
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
  border-radius: 20px;
  font-weight: bold!important;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover)!important;
  color: #fff!important;
}

.btn-secondary {
  background: #fff!important;
  color: var(--primary-color)!important;
  border: 1px solid var(--primary-color)!important;
  border-radius: 20px!important;
  font-weight: bold!important;
}

.btn-secondary:hover {
  background-color: var(--secondary-color)!important;
}

.left-arrow-icon, .add-icon {
  padding: 10px;
  margin-right: 10px;
  color: var(--primary-color);
  border-radius: 50%;
  font-size: 20px;
}

.left-arrow-icon:hover, .add-icon:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color-hover);
  cursor: pointer;
}

.trash-icon:hover {
  color: #f00!important;
  cursor: pointer;
}

.btn-grey {
  background: #eee;
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: bold;
}

.btn-grey:hover {
  background: var(--white-hover);
}

.btn-primary:focus, .btn-secondary:focus, .btn-grey:focus {
  outline: none;
  box-shadow: none;
}

/* PROFILE-IMAGE */

.profile-img-sm {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-img-med {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.profile-img-big {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.profile-img-sm:hover, .profile-img-med:hover {
  transform: scale(1.01);
}

/* PROFILES */

.filtered-profile:hover {
  background: var(--white-hover);
}

.profile-row {
  margin-top: 5px;
}

.profile-row:hover {
  background: var(--white-hover);
  cursor: pointer;
}

.profile-row img:hover, .profile-row .profile-col strong:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.profile-row .profile-col {
  min-width: 20%;
  align-self: center;
  display: flex;
}

.profile-row .profile-col .main-profile-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* POSTS */

@keyframes hide {
  0% {
    opacity: 1;
    max-height: 500px;
  }

  75% {
    opacity: 0;
    max-height: 500px;
  }

  100% {
    opacity: 0;
    max-height: 0px;
  }
}

.create-post-form {
  background: #fff;
  padding: 15px 15px 5px 15px;
}

.create-post-form .post-content-input {
  color: #000;
  border: none;
  font-size: large;
}

.post-extra-options {
  width: 20%;
  display: flex;
}

.post-extra-options .far {
  color: var(--primary-color);
  font-size: 20px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
}

.post-extra-options .far:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

.emoji-list-container {
  display: none;
  position: absolute;
  left: 20px;
  z-index: 1;
  border: 1px solid rgba(20, 20, 20, 0.2);
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container {
  background: #fff;
  width: 100%;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  animation-name: hide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.post-list .post-container:hover {
  background: var(--white-hover);
}

.post-container .post-row {
  width: 100%;
  padding: 15px;
  display: flex;
}

.post-container .post-row .post-col {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-img {
  max-width: 650px;
  max-height: 350px;
  margin-top: 15px;
  border-radius: 20px;
}

.post-container .post-actions {
  width: 25%;
  padding: 0 0 2px 79px;
  display: flex;
  justify-content: space-between;
}

.post-container .post-actions .fas {
  color: #E0245E;
}

.post-container .post-actions .fa-comment, .post-container .post-actions .fa-heart {
  padding: 10px;
  border-radius: 50%;
}

.post-container .post-actions .fa-comment:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.post-container .post-actions .fa-heart:hover {
  background: #F5E2E8;
  color: #E0245E;
  cursor: pointer;
}

.post-container .post-actions .post-likes-number {
  display: inline-block;
}

.post-container .post-actions .post-likes-number:hover {
  color: #E0245E;
  text-decoration: underline;
  cursor: pointer;
}