.explore-page-container .loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.explore-page-container .hashtags-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: var(--sz-1);
    background: var(--theme-base-color);
    border-bottom: 1px solid var(--border-color);
    overflow-x: scroll;
}

.explore-page-container .hashtag-container {
    padding: var(--sz-1);
    margin-right: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--b-r);
    font-weight: bold;
    color: var(--primary-grey);
}

.explore-page-container .active {
    background: var(--background)!important;
    color: var(--primary-grey)!important;
}
