.post-img {
    min-width: 130px;
    min-height: 70px;
    max-width: 100%;
    max-height: 500px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.post-container:hover .post-img-background {
    background: var(--img-background-hover)!important;
}

.post-container:hover .post-textbox {
    background: var(--theme-base-color-hover)!important;
}

.create-post-form {
    background: var(--theme-base-color);
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
}

.post-img-container {
    width: fit-content;
    height: fit-content;
    display: none;
    position: relative;
    margin-top: 15px;
}

.post-img-options {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    border-radius: 20px;
    padding: 3px;
}

.post-img-options .far {
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.post-img-options .far:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-extra-options {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.post-extra-options .emoji-list-container {
    display: none;
    position: absolute;
    left: 60%;
    top: -100%;
    z-index: 1;
    border: 1px solid rgba(20, 20, 20, 0.2);
}

@keyframes heartExpand {
    0% {
        width: 34px;
        height: 33.6px;
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        width: 34px;
        height: 33.6px;
    }
}

.fas.fa-heart {
    color: var(--heart-color);
}

.fas.fa-heart.animated {
    animation: heartExpand .6s;
}
