.profiles-filter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--theme-base-color);
    padding: var(--sz-1);
    margin-bottom: 15px;
}

.profiles-filter-container .profiles-filter-input {
    height: 40px;
    padding-left: 15px;
    border: none;
    border-radius: var(--b-r);
    background: var(--background);
}

.profiles-filter-container .profiles-search-extra-options-icon {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    border-radius: var(--b-r);
    font-weight: bold!important;
    margin: 4px;
    background: var(--background)!important;
    color: var(--text-secondary)!important;
}

.profiles-filter-container .profiles-search-extra-options-icon:hover, .profiles-filter-container .profiles-search-extra-options-icon-active {
    background: var(--theme-base-color-hover)!important;
}

.profiles-filter-input:focus {
    outline: none;
    background: var(--theme-base-color);
    border: 1px solid var(--primary-color)!important;
}

.profile-img-container:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.profile-img-container {
    width: fit-content;
    align-self: center;
}


.profile-col {
    min-width: 20%;
    align-self: center;
    display: flex;
}

.main-profile-data {
    display: flex;
    flex-direction: column;
    text-align: start;
}
