.loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    padding: 5% 0;
  }
  
.loader {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
    border: 4px solid var(--loader-background);
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}