.form_bg {
    background: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
}

.form_horizontal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.form_horizontal .form_icon {
    color: var(--primary-color);
    font-size: 100px;
    line-height: 85px;
    margin: 0 0 13px;
}

.form_horizontal .title {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 35px 0;
}

.form_horizontal .form-group {
    margin: 0 0 10px;
    position: relative;
}

.form_horizontal .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #777;
}

.form_horizontal .form-control {
    color: #555;
    background: var(--secondary-color);
    font-size: 13px;
    letter-spacing: 1px;
    height: 40px;
    padding: var(--sz-0);
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
}

.form_horizontal .form-control::placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.form_horizontal .btn {
    color: #fff;
    background-color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: var(--sz-2);
    margin: 0 0 15px 0;
    border: none;
    border-radius: var(--b-r);
    text-transform: uppercase;
}

.form_horizontal .btn:hover {
    background: var(--primary-color-hover);
}

.form_horizontal .form-options {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form_horizontal .form-options li a {
    color: var(--primary-color);
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    display: block;
}

.form_horizontal .form-options li a i {
    font-size: 12px;
}