.explore-page-container .loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.explore-page-container .hashtags-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid var(--border-color);
    overflow-x: scroll;
}

.explore-page-container .hashtag-container {
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    font-weight: bold;
    color: #444;
}

.explore-page-container .hashtag-container:hover {
    background: var(--theme-base-color-hover);
    cursor: pointer;
}

.explore-page-container .active {
    background: #666!important;
    color: #fff!important;
}

.explore-page-container .active:hover {
    background: #555!important;
    color: #fff!important;
}
