{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Criar conta / Napker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signupActivationSent.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="form_bg">
        <div class="container">
                <div class="activation-sent-container">
                    <img src="{% static 'media/favicon.png' %}">
                    <h3>Tudo certinho! Agora basta ativar a sua conta...</h3>
                    <hr>
                    <p>Enviamos um link de ativação para o seu email. Clique nele para ativar a sua conta.</p>
                    <p class="email-not-sent" id="email-not-sent">Não recebi o email</p>
                </div>
        </div>
    </div>
    <script>
        document.querySelector('#email-not-sent').onclick = () => {
            window.alert('Verifique se o email está na caixa de spam.')
        }
    </script>
</body>

</html>