{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Criar conta / Napker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signupInterests.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="form_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form action="{% url 'interests' %}" class="form_horizontal" method="POST">{% csrf_token %}
                        <div class="form_icon">
                            <img src="{% static 'media/favicon.png' %}">
                        </div>
                        <div class="title">Quais os seus principais interesses?</div>
                        {% if message %}
                        <span style="color: #f00;">{{ message }}</span>
                        {% endif %}
                        <div class="container">
                            <div class="interests-description">
                                É aqui que a mágica acontece. Quanto mais interesses você colocar mais precisamente
                                vamos te
                                conectar com outras pessoas que compartilhem das mesmas paixões.
                                <br />
                                <br />
                                <strong>Obs:</strong> Os interesses enviados aqui não serão visíveis para os outros usuários
                            </div>
                            <br />
                            <br />
                            <div class="tag-container">
                                <input placeholder="Digite e pressione 'Enter'"/>
                                <input type="hidden" name="interests" id="interests">
                            </div>

                        </div>
                        <button class="btn signin" type="submit">Criar conta</button>

                        <ul class="form-options">
                            <li><a href="#">Já tem uma conta?<i class="fas fa-arrow-right"></i></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const tagContainer = document.querySelector('.tag-container');
        const input = document.querySelector('.tag-container input');

        let tags = [];
        const interestsInput = document.querySelector('#interests')

        function createTag(label) {
            const div = document.createElement('div');
            div.setAttribute('class', 'tag');
            const span = document.createElement('span');
            span.innerHTML = label;
            const closeIcon = document.createElement('i');
            closeIcon.innerHTML = '×';
            closeIcon.setAttribute('class', 'material-icons');
            closeIcon.setAttribute('data-item', label);
            div.appendChild(span);
            div.appendChild(closeIcon);
            if (!interestsInput.value.includes(label)) interestsInput.value += ` ${label}`;
            console.log(tags, interestsInput.value)
            return div;
        }

        function clearTags() {
            document.querySelectorAll('.tag').forEach(tag => {
                tag.parentElement.removeChild(tag);
            });
        }

        function addTags() {
            clearTags();
            tags.slice().reverse().forEach(tag => {
                tagContainer.prepend(createTag(tag));
            });
        }

        input.addEventListener('keydown', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault()
                if (e.target.value !== '') {
                    e.target.value.split(',').forEach(tag => {
                        tags.push(tag);
                    });
                    addTags();
                    input.value = ''
                }
                return false; //prevent the form to submit
            }
        });
        document.addEventListener('click', (e) => {
            if (e.target.tagName === 'I') {
                const tagLabel = e.target.getAttribute('data-item');
                const index = tags.indexOf(tagLabel);
                tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
                addTags();
            }
        })

        input.focus();
    </script>
</body>

</html>