{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Criar conta / Napker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="form_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form action="{% url 'signup' %}" class="form_horizontal" method="POST">{% csrf_token %}
                        <div class="form_icon">
                            <img src="{% static 'media/favicon.png' %}">
                        </div>
                        <div class="title">Criar conta no Napker</div>
                        {% if message %}
                        <span style="color: #f00; margin: 0;">{{ message }}</span>
                        {% endif %}
                        <input class="form-control" type="text" name="first-name" placeholder="Nome">
                        <input class="form-control" type="text" name="last-name" placeholder="Sobrenome">
                        <input class="form-control" type="text" name="username" id="username"
                            placeholder="Nome de usuário">
                        <span class="error-message" id="username-taken">Nome de usuário já existe</span>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                        <span class="error-message" id="email-taken">Email já utilizado</span>

                        <input class="form-control" type="date" name="birth-date" placeholder="Data de nascimento">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Senha">
                        <input class="form-control" type="password" name="passwordc" id="passwordc"
                            placeholder="Confirmar senha">
                        <span class="error-message" id="invalid-password-1">As senhas devem ser iguais</span>
                        <span class="error-message" id="invalid-password-2">A senha deve ter no mínimo 8
                            caracteres</span>

                        <button class="btn signin" type="submit" id="submit-btn">Continuar</button>

                        <ul class="form-options">
                            <li><a href="{% url 'login' %}">Já tem uma conta?<i class="fas fa-arrow-right"></i></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const usernameField = document.querySelector('#username')
        const emailField = document.querySelector('#email')
        const passwordField = document.querySelector('#password')
        const passwordcField = document.querySelector('#passwordc')
        const submitBtn = document.querySelector('#submit-btn')

        usernameField.addEventListener('keyup', () => {
            fetch(`http://localhost:8000/profile-api/user/${usernameField.value}`)
                .then(response => response.json())
                .then(data => {
                    if (data.bool !== 'false') {
                        document.querySelector('#username-taken').style.display = 'initial'
                    } else if (document.querySelector('#username-taken').style.display === 'initial') {
                        document.querySelector('#username-taken').style.display = 'none'
                    }
                })
        })

        emailField.addEventListener('keyup', () => {
            if (emailField.value !== '') {
                fetch(`http://localhost:8000/profile-api/profile-by-email/${emailField.value}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.bool !== 'false') {
                            document.querySelector('#email-taken').style.display = 'initial'
                        } else if (document.querySelector('#email-taken').style.display === 'initial') {
                            document.querySelector('#email-taken').style.display = 'none'
                        }
                    })
            }
        })

        submitBtn.onclick = e => {
            e.preventDefault()
            for (let input of document.querySelectorAll('form > input')) {
                if (!input.value) {
                    alert('Todos os campos devem ser preenchidos!')
                    return
                }
            }
            if (passwordField.value !== passwordcField.value) {
                document.querySelector('#invalid-password-1').style.display = 'initial'
            } else if (passwordField.value.length < 8) {
                document.querySelector('#invalid-password-2').style.display = 'initial'
            } else if (passwordcField.value) {
                document.querySelector('form').submit()
            }
        }
    </script>
</body>

</html>