.btn-primary {
    background: var(--primary-color)!important;
    color: #fff!important;
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    border-radius: 20px;
    font-weight: bold!important;
}
  
.btn-secondary {
    background: rgba(0, 0, 0, 0)!important;
    color: var(--primary-color)!important;
    border: 1px solid var(--primary-color)!important;
    border-radius: 20px!important;
    font-weight: bold!important;
}
  
.left-arrow-icon, .add-icon {
    padding: 10px;
    margin-right: 10px;
    color: var(--primary-color);
    border-radius: 50%;
    font-size: 1.25rem;
}
  
.btn-grey {
    background: var(--secondary-color);
    color: var(--primary-grey);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-weight: bold;
}
  
.btn-primary:focus, .btn-secondary:focus, .btn-grey:focus {
    outline: none;
    box-shadow: none;
}