.inputs-container {
    position: relative;
    display: flex;
    min-width: 200px;
    width: fit-content;
    heigth: 30px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
  }
  
  #placeholder {
    position:absolute;
    color: rgba(0, 0, 0, .7)
  }
  
  .subinput {
    position: relative;
    z-index: 1;
    width: fit-content;
    font-size: 15px;
    padding: 0;
    outline: none;
    border: none;
  }