.fade.modal {
    padding: 0!important;
}

.modal-content {
    background: var(--theme-base-color)!important;
    border-color: var(--border-color)!important;
    border-radius: 1rem!important;
}

.modal-content .modal-header  {
    border-bottom: 3px solid var(--border-color)!important;
}

.modal-content .modal-footer {
    border-top: 3px solid var(--border-color)!important;
}
  
.modal-content .close {
    color: var(--primary-grey);
    opacity: 1;
}
  
.modal-content .close:hover {
    opacity: 1.5;
}

.modal-content .modal-search-input {
    background: var(--border-color);
    color: var(--primary-grey);
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}
