.popover-arrow {
    width: 15px;
    height: 15px;
    position: absolute;
    border-top: 1px solid var(--view-more-select-border);
    border-left: 1px solid var(--view-more-select-border);
    transform: rotate(45deg);
    z-index: 2;
    background: var(--theme-base-color-hover);
}
  
.view-more-select li:first-of-type:hover ~ .popover-arrow {
    background: var(--theme-base-color-hover);
}
  
.view-more-select {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    border: 1px solid var(--view-more-select-border);
    border-radius: 10px;
    text-align: start;
    background: var(--theme-base-color-hover);
}
  
.view-more-select li:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.view-more-select li:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.view-more-select li {
    padding: 15px;
    border-bottom: 1px solid var(--view-more-select-border);
}
  
.view-more-select li:hover {
    background: var(--theme-base-color-hover);
    cursor: pointer;
}
  
.view-more-select i {
    font-size: large;
    margin-right: 5px;
}